.itemborder{
    border-color: rgb(41, 33, 109);
    border-radius: 0px 2px 2px 0px;
    border-width: 1px;
    box-shadow: rgb(203, 203, 203) 0px 0px 2px 2px;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;}		
		
.row {
    display: flex;
},
